[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/wilmangio/gateway-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/wilmangio/product-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/wilmangio/orders-ms.git
